/* Header */
.page-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #DADADA;
    width: 100%;
    height: 100px;
}

.page-header>.header-button {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.page-header>.header-title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0px 40px;
    width: 100%;
}

.page-header>.header-title>p {
    font-size: 0.8em;
}

/* Small Header */
.page-header.small {
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 20px;
    height: auto;
    border: none;
}

.page-header.small>.header-buttons {
    display: flex;
    flex-direction: row;
}

.page-header.small>.header-buttons>.blue-button {
    margin-right: 10px;
}