.App-pre {
  min-width: 700px;
  width: 100vw;
  height: calc(100vh - 46px);
  text-align: center;
}

.App {
  margin-left: 230px;
  padding: 100px 50px 50px 50px;
  min-width: 700px;
  width: calc(100vw - 230px);
  height: 100vh;
  background-color: #F0F0F0;
  text-align: center;
}

.sidebar {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  height: 100vh;
}