.bot-detail-container {
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.bot-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    min-width: 1150px;
    height: auto;
    background-color: #fff;
    box-shadow: 0px 0px 10px #ccc;
}

.bot-detail:not(:last-child) {
    margin-bottom: 30px;
}

.bot-detail h2 {
    margin: 0;
}

.bot-detail.page-title {
    align-items: flex-start;
    padding-left: 30px;
}

.bot-detail-container>.bot-detail-body {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.bot-detail-container>.bot-detail-body>.detail-column {
    width: 100%;
    height: 100%;
}

.bot-detail-container>.bot-detail-body>.detail-column:not(:last-child) {
    margin-right: 30px;
}

.bot-detail-blocks {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    height: auto;
    background-color: #fff;
    box-shadow: 0px 0px 10px #ccc;
}

.bot-detail-blocks:not(:last-child) {
    margin-bottom: 30px;
}

/* BotDetail Description */
.bot-detail-blocks.description {
    align-items: flex-start;
}

.bot-detail-blocks.description>.description-container {
    padding: 0 20px;
    max-width: 340px;
}

.bot-detail-blocks.description>.description-container p {
    word-wrap: break-word;
}

/* BotDetail Creator */
.bot-detail-blocks .creator {
    display: flex;
    align-items: center;
    padding: 0 20px 20px 20px;
    width: 100%;
}

.bot-detail-blocks .creator>.profile-img {
    width: 70px;
    height: 70px;
    margin-right: 10px;
    box-shadow: 0px 0px 3px #555;
    border-radius: 100px;
}

.bot-detail-blocks .creator>.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.bot-detail-blocks .creator>.profile>h3 {
    margin-bottom: 5px;
}

.bot-detail-blocks .creator>.profile>.blue-button,
.bot-detail-blocks .creator>.profile>.blue-button button {
    width: 100%;
}

/* BotDetail Devices */
.bot-detail-blocks>.bot-device-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    padding: 0 20px;
    width: 100%;
}

.bot-device-list .bot-device {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #DFE0EB;
    border-radius: 10px;
    padding: 10px 20px;
    width: 100%;
}

.bot-device-list .bot-device:not(:last-child) {
    margin-bottom: 10px;
}

.bot-detail-blocks>.bot-device-list .bot-device.selected {
    background-color: #DFE0EB;
}

.bot-detail-blocks>.bot-device-list .bot-device>svg {
    margin-right: 20px;
    width: 50px;
    height: 50px;
    color: #6D6E76;
}

.bot-detail-blocks>.bot-device-list .bot-device>h3 {
    margin-bottom: 0;
    color: #6D6E76;
    font-weight: 600;
}

/* BotDetail SourceCode */
.bot-device-list.download {
    margin-bottom: 30px;
}

.bot-device-list.download>.bot-device {
    cursor: pointer;
}

.bot-device-list.download>.bot-device:hover,
.bot-device-list.download>.bot-device.selected {
    background-color: #DFE0EB;
}

.bot-device-list.download>.bot-device.save {
    border-color: #76A382;
    background-color: #09B705;
}

.bot-device-list.download>.bot-device.save:hover {
    background-color: #C2DFC0;
}

.bot-device-list.download>.bot-device.source-code {
    border-color: #4E3681;
    background-color: #535282;
}

.bot-device-list.download>.bot-device.source-code:hover {
    background-color: #7F6CA1;
}

.bot-device-list.download>.bot-device>svg {
    margin-right: 20px;
    width: 45px;
    height: 45px;
    color: #fff;
}

.bot-device-list.download>.bot-device h2 {
    color: #fff;
    margin: 0;
}

/* BotDevice Comment */
.bot-detail-blocks>.bot-device-list.comment {
    justify-content: flex-start;
    max-height: 360px;
    overflow-y: scroll;
}

.bot-detail-blocks>.bot-device-list .comment-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #DFE0EB;
    border-radius: 10px;
    padding: 10px 20px;
    width: 100%;
}

.bot-detail-blocks>.bot-device-list .comment-block:not(:last-child) {
    margin-bottom: 10px;
}

.bot-detail-blocks>.bot-device-list .comment-block p {
    margin: 0;
    word-wrap: break-word;
}

.bot-detail-blocks>.bot-device-list .comment-block>.comment-user {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    max-width: 260px;
}

.bot-detail-blocks>.bot-device-list .comment-block>.comment-user>.comment-username {
    margin-right: 10px;
    font-weight: bold;
}

.bot-detail-blocks>.bot-device-list .comment-block>.comment-user>.comment-date {
    font-size: 11px;
    color: #AAA;
}

.bot-detail-blocks>.bot-device-list .comment-block>.comment-body {
    max-width: 260px;
}

.bot-detail-blocks>.bot-device-list .comment-block>svg {
    margin-right: 20px;
    width: 50px;
    height: 50px;
    color: #6D6E76;
}

.bot-detail-blocks>.bot-device-list .comment-block>h3 {
    margin-bottom: 0;
    color: #6D6E76;
    font-weight: 600;
}

/* .bot-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 100%;
    height: 100%;
    background-color: #fff;
    box-shadow: 0px 0px 10px #ccc;
}

.bot-detail>.container {
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    width: 100%;
}

.bot-detail>.container>.content {
    display: flex;
    width: 100%;
}

.bot-detail>.container>.content:not(:last-child) {
    margin-bottom: 30px;
}

.bot-detail .content>.section {
    width: 100%;
}

.bot-detail .content>.section:not(:last-child) {
    margin-right: 30px;
} */

/* Section - Devices */
.bot-detail .content .supported-devices {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
}

.bot-detail .content .supported-devices>.devices {
    margin-bottom: 10px;
}

.bot-detail .content .supported-devices>.devices>svg {
    margin-right: 10px;
    width: 60px;
    height: 60px;
    color: #aaa;
}

.bot-detail .content .supported-devices>.devices>.icon-selected {
    color: #000;
}

.bot-detail .content .supported-devices>.devices-button>.blue-button {
    margin-bottom: 10px;
}

.bot-detail .content .supported-devices>.devices-button>.blue-button>.ant-btn {
    width: 100%;
}

/* Section - Review */
.bot-detail .content .review {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.bot-detail .content .review .comments {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    width: 100%;
}

.bot-detail .content .review .comments .comment-block {
    margin-bottom: 10px;
    width: 100%;
}

.bot-detail .content .review .comments .comment-block>.rating {
    font-size: 25px;
    text-align: left;
    color: #000054;
}

/* Section Header */
.section>.section-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 10px;
    border-bottom: 1px solid #DADADA;
    width: 100%;
}

.section>.section-header>.section-header-button {
    margin-bottom: 0.83em;
}

.section>.section-body {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}