/* Calendar Page */
.calendar-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    min-width: 850px;
    margin-left: 50px;
    margin-right: 50px;
    height: 100%;
    background-color: #fff;
    box-shadow: 0px 0px 10px #ccc;
}

.calendar-page>.calendar-page-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px 40px;
    height: 100%;
}

.calendar-page>.calendar-page-container>.calendar-module {
    display: flex;
    flex-direction: row;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 2px;
    width: 100%;
}

.calendar-page .calendar-module>.ant-picker-calendar {
    border: 1px solid #DFE0EB;
    border-radius: 10px;
    width: 50%;
    background-color: #fff;
    font-size: 15px;
}

.calendar-module>.ant-picker-calendar .ant-picker-calendar-header {
    justify-content: center;
}

.calendar-module>.ant-picker-calendar .ant-picker-panel {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
}

.calendar-module>.ant-picker-calendar .ant-picker-panel .ant-picker-body {
    padding: 0;
}

.calendar-module>.ant-picker-calendar .ant-picker-panel thead tr th {
    height: 30px;
    font-weight: 600;
}

.calendar-page>.calendar-page-container .calendar-module .ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner {
    border-radius: 50px;
    background-color: #B997FD;
}

.calendar-page>.calendar-page-container .calendar-module .ant-picker-cell-in-view.ant-picker-cell-today .ant-picker-cell-inner:before {
    border-color: #B997FD;
}

/* Calendar Event */
.calendar-event {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-left: 20px;
    border: 1px solid #DFE0EB;
    border-radius: 10px;
    padding: 10px 0;
    width: 50%;
}

.calendar-event>.page-header {
    border-bottom: 1px solid #DADADA;
}

.calendar-event>.date-events {
    width: 100%;
    height: 190px;
    overflow-y: scroll;
}

.calendar-event>.date-events>.date-event {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #DFE0EB;
    width: 100%;
    padding: 10px 20px;
}

.calendar-event>.date-events>.date-event.none {
    border: none;
}

.calendar-event>.date-events>.date-event>.event-description h4 {
    margin: 0;
}

.calendar-event>.date-events>.date-event>.event-description p {
    margin: 0;
    font-size: 0.8em;
    color: #9FA2B4;
}

.calendar-event>.modal-button {
    margin-top: 10px;
}

.event-modal.ant-modal {
    width: 360px !important;
}

.event-modal.ant-modal.delete {
    width: 500px !important;
}

.event-modal.ant-modal .ant-modal-header {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.event-modal.ant-modal .ant-modal-content {
    border-radius: 10px !important;
}

.event-modal.ant-modal h2 {
    margin: 0;
}

.event-modal.ant-modal p {
    margin-bottom: 5px;
}

.event-modal.ant-modal p:not(:first-child) {
    margin-top: 20px;
}

.event-modal.ant-modal .event-input.ant-input,
.event-modal.ant-modal .event-input.ant-select,
.event-modal.ant-modal .event-input.ant-picker {
    border: 1px solid #F0F1F7;
    border-radius: 5px;
    text-align: left;
    background-color: #FCFDFE;
}

.event-modal.ant-modal .event-input.ant-input.ant-input-status-error {
    border-color: #FF4D4F;
}

/* Active Jobs */
.active-jobs {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid #DFE0EB;
    border-radius: 10px;
    padding-top: 10px;
    width: 100%;
}

.active-jobs>.page-header {
    border-bottom: 1px solid #DADADA;
}

.active-jobs>.jobs-list {
    width: 100%;
    height: 150px;
    overflow-y: scroll;
}

.active-jobs>.jobs-list>.job-event {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #DFE0EB;
    width: 100%;
    padding: 10px 20px;
}

.active-jobs>.jobs-list>.job-event.none {
    border: none;
}

.active-jobs>.jobs-list>.job-event>.job-description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
}

.active-jobs>.jobs-list>.job-event>.job-description h4 {
    margin: 0;
}

.active-jobs>.jobs-list>.job-event p {
    margin: 0;
    font-size: 0.8em;
    color: #9FA2B4;
}