.page-pre {
    min-width: 800px;
    width: 100vw;
    height: calc(100vh - 46px);
    text-align: center;
}

.page {
    margin-left: 230px;
    padding: 100px 50px 50px 50px;
    min-width: 800px;
    width: calc(100vw - 230px);
    height: 100vh;
    background-color: #F0F0F0;
    text-align: center;
}

.sidebar {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    height: 100vh;
}